body {
  background-color: #000;
  background-image: url("../images/temple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

div.container {
  margin: 0 0 0 auto;
  display: block;
  max-width: 1840px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

body > div:first-child,
body > div:last-child {
  background-color: #000;
  height: 15px;
}

nav {
  background-color: #1e3c7b;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}

nav > img {
  width: 100%;
  max-width: 100px;
  background-color: #fff;
  padding: 10px;
  position: absolute;
}

nav > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 15px 0 15px auto;
  
}



nav > ul > li > a {
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

nav > ul > li:last-child > a {
  margin-right: 0;
}

nav > ul > li > a.active,
nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
  background-color: #000;
  color: yellow;
}

nav > ul > li > span {
  font-size: 20px;
  color: #fff;
}

header > aside {
  margin: 0 0 0 auto;
}

header > aside > div >  img {
  width: 100%;
  max-width: 20px;
}